.notes-container-editor {
    display: flex;
    justify-content: center;
    background: var(--medium-green-two);
    width: 90vw;
    height: 45vh;
    margin: 3rem auto;
    border-radius: 0.5rem;
}

.form-Edit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-Editor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 1rem;
}

.form-buttons{
    margin-top: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-buttons button {
    outline: none;
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: transform 100ms;
}

.form-buttons button:active {
    transform: scale(0.8);
}

.btn-a-cancel{
    color: black;
}

.tamHeight{
    height: 90vh;
    display: flex;
}

.form-editor-titulo{
    outline: none;
    border: 0;
    color: none;
    border-bottom: 1px solid grey;
    background: transparent;
}

.form-editor-textarea{
    resize: none;
    outline: none;
    color: none;
    border: 0;
    border-radius: 0.5rem;
}
