.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--medium-green-two);
  align-items: center;
  min-height: 9vh;
  padding: 0.5rem 0 0.5rem 0;
  position: sticky;
  top: 0;
}

.height{
  height: 91vh;
}

.nav {
  position: absolute;
  width: 100vw;
  background: var(--strong-green);
  top: 10vh;
  transition: height 250ms linear;
  height: 0vh;
  overflow-y: scroll;
}

.active {
  height: 80vh;
}

.options a {
  width: 100%;
  border-bottom: 1px solid var(--lower-green);
}

.options a li {
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.logo-wrap-a {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  margin-left: 10px;
  text-decoration: none;
}

.logo-wrap-a:active {
  height: 55px;
  width: 55px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.burger,
.burger-close {
  margin-right: 15px;
  font-size: 40px;
  color: var(--strong-green);
}