.plus-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 10vh;
}

.plus-wrap i {
  color: var(--green-plus-icon);
  font-size: 4rem;
  transition: transform 100ms;
}

.plus-wrap i:active {
  color: var(--green-logo);
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
