@import url('./calendar.css');
@import url('/resources/css/note-card.css');
@import url('/resources/css/icon-plus.css');

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --strong-green: #55936a;
  --green-logo: #49d479;
  --green: #40ec7b;
  --medium-green: #7df39e;
  --medium-green-two: #bbe4ac;
  --lower-green: #dfe8e2;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--medium-green-two);
  align-items: center;
  height: 9vh;
  position: sticky;
  top: 0;
}

.nav {
  position: absolute;  
  width: 100vw;
  background: var(--strong-green);
  top: 9vh;
  transition: height 250ms linear;
  height: 0vh;
  overflow-y: scroll;
}

.active {
  height: 80vh;
}

.options a {
  width: 100%;
  border-bottom: 1px solid var(--lower-green);
}
.options a li {
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.logo-wrap-a{
  height: 58px;
  width: 58px;
  border-radius: 50%;
  margin-left: 10px;
  text-decoration: none;
}

.logo-wrap-a:active {
  height: 55px;
  width: 55px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.burger, .burger-close{
  margin-right: 15px;
  font-size: 40px;
  color: var(--strong-green);
}

.main {
  padding: 1rem 1rem 0 1rem;
  overflow-y: scroll;
  height: 75vh;
  width: 100%;
  transition: opacity 250ms linear;
}

.main-disabled {
  pointer-events: none;
  opacity: 0.04;
}

.block-scroll{
  overflow: hidden;
}

.search-container{
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

#class_search{
  width: 80%;
  border: none;
  outline: 0;
  border-bottom: solid 1px grey;
  padding: 0.5rem;
  background: transparent;
}

.quitar{
  display: none;
}


.none{
  display: none;
}