@import url("./calendar.css");
@import url("/resources/css/note-card.css");
@import url("/resources/css/plus-icon.css");
@import url("/resources/css/header.css");
@import url("/resources/css/editNote.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@300;400;500;700&display=swap');


* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --green: #40ec7b;
  --medium-green: #7df39e;
  --medium-green-two: #bbe4ac;
  --strong-green: #55936a;
  --green-plus-icon: #49d479;
  --lower-green: #dfe8e2;
  font-family: 'Poppins', sans-serif;

}

.main {
  padding: 1rem 1rem 0 1rem;
  overflow-y: scroll;
  height: 75vh;
  width: 100%;
  transition: opacity 250ms linear;
}

.main-disabled {
  pointer-events: none;
  opacity: 0.04;
}

.block-scroll {
  overflow: hidden;
}

.none {
  display: none;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*---------------------------------------------------*/

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

#class_search {
  width: 80%;
  border: none;
  outline: 0;
  border-bottom: solid 1px grey;
  padding: 0.5rem;
  background: transparent;
}

.delete{
  display: none;
}
